<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="cn.mbtt.service.mapper.OrderItemMapper">-->
<!--    <select id="selectByOrderIds" resultType="cn.mbtt.service.domain.po.OrderItems">-->
<!--        SELECT * FROM order_items-->
<!--        WHERE order_id IN-->
<!--        <foreach item="orderId" collection="orderIds" open="(" separator="," close=")">-->
<!--            #{orderId}-->
<!--        </foreach>-->
<!--    </select>-->

<!--    <select id="selectByOrderId" resultType="cn.mbtt.service.domain.po.OrderItems">-->
<!--        SELECT oi.*-->
<!--        FROM order_items oi-->
<!--                 JOIN orders o ON oi.order_id = o.id-->
<!--        WHERE o.user_id = #{userId}-->
<!--    </select>-->

<!--    <insert id="insertOrderItems">-->
<!--        INSERT INTO order_items (order_id, product_id, product_snapshot, quantity, price, created_at)-->
<!--        VALUES-->
<!--        <foreach collection="orderItemsList" item="item" separator=",">-->
<!--            (#{item.orderId}, #{item.productId}, #{item.productSnapshot}, #{item.quantity}, #{item.price}, #{item.createdAt})-->
<!--        </foreach>-->
<!--    </insert>-->
<!--</mapper>-->